.img {
    width: 90px;
    height: 60px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #e6dada;
    color: #eeeded;

}
.user-icon {
    color: black;
    font-weight: bold;
    font-size: 20px;

}
.next-btn {
    margin: 10px;
    
}

.search-btn {
    margin: 5px;
    cursor: pointer;
    padding: 5px;
}
